<!doctype html>
<html ng-app="store">
<head>
<title>Product Price Compare</title>
<link href="css/angular-bootstrap.css" rel="stylesheet" type="text/css">
</head>

<body ng-controller="storeController as store">
	<div class="container">
		<h1>Product List</h1>
		<div ng-repeat="product in store.products">
			<div id="product">
				<div id="product-brand">{{product.brand}}</div>
				<h4 id="product-name">{{product.name}}</h4>
				<div id="product-weight">{{product.weight}}</div>
				<div id="product.version">{{product.version}}</div>
				<section ng-controller="PanelController as panel">
					<ul>
						<li ng-class="{active:panel.isSelected(1)}"><a href ng-click="panel.selectTab(1)">{{product.provider1}} Price</a></li>
						<li ng-class="{active:panel.isSelected(2)}"><a href ng-click="panel.selectTab(2)">{{product.provider2}} Price</a></li>
						<li ng-class="{active:panel.isSelected(3)}"><a href ng-click="panel.selectTab(3)">{{product.provider3}} Price</a></li>
					</ul>
					<div class="panel" ng-show="panel.isSelected(1)">
						<p>{{product.price1}}</p>
					</div>
					<div class="panel" ng-show="panel.isSelected(2)">
						<p>{{product.price2}}</p>
					</div>
					<div class="panel" ng-show="panel.isSelected(3)">
						<p>{{product.price3}}</p>
					</div>
					{{tab}}
				</section>
			</div>
		</div>
	</div>
	<script src="js/angular-bootstrap.js" type="text/javascript"></script>
	<script src="js/hello.js"></script>
</body>
</html>
